
<div class="container">
    <div class="row p-2 bg-dark text-white text-align-center">
        <div class="col-2">Id</div>
        <div class="col-2">First Name</div>
        <div class="col-2">Last Name</div>     
        <div class="col-2">Salary</div>
        <div class="col-2">Department</div>
        <div class="col-2">Joining Date</div>
    
    </div>
    <div class="row border-bottom pt-2 pb-2"  *ngFor="let employee of employees; let i = index">
      <div class="col-2" >    
            <input type ="text" value = {{employee.id}} 
            id ={{employee.id}} class= "border-0"
            />          
      </div>
      <div class="col-2">
          {{employee.first_name}}
      </div>
      <div class="col-2">
          {{employee.last_name}}
      </div>
      <div class="col-2">
          {{employee.salary}}
      </div>
      <div class="col-2">
          {{employee.department}}
      </div>
      <div class="col-2">
          {{employee.joining_date}}
      </div>
      </div>
  </div>